.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-surface-2)
}

.logo {
  width: 60%;
  max-width: 400px;
}

.title {
  font-size: 24px;
  color: var(--color-text);  
  margin-bottom: 30px;
}

.languageButton {
  width: 300px;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  background-color: #fff;
  border: 2px solid var(--color-primary);
  border-radius: 12px;
  color: var(--color-text);
  cursor: pointer;
}

.languageButton:hover {
  background-color: var(--color-surface-3);
}

.continueButton {
  width: 300px;
  padding: 15px;
  margin-top: 30px;
  font-size: 18px;
  background-color: var(--color-primary); 
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.continueButton:hover {
  background-color: var(--color-primary-hover);
}
