.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f9ff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 30px;
    left: 30px;
}

.reset_icons {
    width: 65%;
  }

.card {
    background: #f5f9ff;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}
  
.title {
    font-size: 17px;
    color: #202244;
    margin: 0;
}

.description {
    font-size: 14px;
    color: #545454;
    margin-bottom: 30px;
}
  
.input {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 16px;
    color: #505050;
    background-color: #fff;
    outline: none;
    box-sizing: border-box;
}
  
.button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    background-color: #006ffd;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.button:hover {
    background-color: #0056b3;
}
  
.error {
    color: red;
    margin: 12px 0;
}
  
  
.backButton {
    font-size: 20px;
    color: #202244;
    border: none;
    background: none;
    cursor: pointer;
}
  
  